{% extends "base.html" %}
{% macro cell(value, layout) -%}
{% if layout == 'full' %}
    <td>
        {{ value }}
    </td>
{% endif %}
{%- endmacro %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/boxscore/{{ boxscore['basicGameData']['startDateEastern'] }}/{{ boxscore['basicGameData']['gameId'] }}/{% if layout == 'full' %}compact{% else %}full{% endif %}">
                {% if layout == 'full' %}Compact{% else %}Full{% endif %}
            </a>
        </li>
    </ul>
{% endblock %}
{% block content %}
<div class="container">
    <h3>
        {{boxscore['basicGameData']['vTeam']['triCode']}} 
        ({{boxscore['basicGameData']['vTeam']['win']}}-{{boxscore['basicGameData']['vTeam']['loss']}}) 
        @ {{boxscore['basicGameData']['hTeam']['triCode']}}
        ({{boxscore['basicGameData']['hTeam']['win']}}-{{boxscore['basicGameData']['hTeam']['loss']}})
    </h3>
</div>
<div class="container">
    <table class="table table-sm">
        <tr>
            <th>TEAM</th>
        {% for q in boxscore['basicGameData']['vTeam']['linescore'] %}
            <th>
        {% if loop.index <= 4 %}
           Q{{loop.index}}
        {% else %}
           OT{{loop.index - 4}}
        {% endif %}
            </th>
        {% endfor %}
            <th>SCORE</th>
        </tr>
        <tr {% if boxscore['basicGameData']['vTeam']['score']|int() > boxscore['basicGameData']['hTeam']['score']|int()
               and boxscore['basicGameData']['statusNum'] == 3 %} style="font-weight: bold;"{% endif %}>
            <td>
                <a href='/schedule/{{ boxscore['basicGameData']['seasonYear'] }}/{{ boxscore['basicGameData']['vTeam']['teamId'] }}'>
                    {{ boxscore['basicGameData']['vTeam']['triCode'] }}
                </a>
            </td>
        {% for q in boxscore['basicGameData']['vTeam']['linescore'] %}
        <td>{{q['score']}}</td>
        {% endfor %}
            <td>{{boxscore['basicGameData']['vTeam']['score']}}</td>
        </tr>
        <tr {% if boxscore['basicGameData']['hTeam']['score']|int() > boxscore['basicGameData']['vTeam']['score']|int()
               and boxscore['basicGameData']['statusNum'] == 3 %} style="font-weight: bold;"{% endif %}>
            <td>
                <a href='/schedule/{{ boxscore['basicGameData']['seasonYear'] }}/{{ boxscore['basicGameData']['hTeam']['teamId'] }}'>
                    {{ boxscore['basicGameData']['hTeam']['triCode'] }}
                </a>
            </td>
        {% for q in boxscore['basicGameData']['hTeam']['linescore'] %}
            <td>{{q['score']}}</td>
        {% endfor %}
            <td>{{boxscore['basicGameData']['hTeam']['score']}}</td>
        </tr>
    </table>
</div>
{% if boxscore['basicGameData']['isGameActivated'] %}
<div class="container">
    <div class="col">
    {% if boxscore['basicGameData']['period']['isHalftime'] %}
        Halftime
    {% elif boxscore['basicGameData']['period']['isEndOfPeriod'] %}
        End of period {{boxscore['basicGameData']['period']['current']}}
    {% else %}
        {{boxscore['basicGameData']['clock']}} in period {{boxscore['basicGameData']['period']['current']}}
    {% endif %}
    </div>
</div>
{% endif %}
<div class="container">
{% for teamType, teamId, triCode in [('vTeam', boxscore['basicGameData']['vTeam']['teamId'], boxscore['basicGameData']['vTeam']['triCode']),
                                     ('hTeam', boxscore['basicGameData']['hTeam']['teamId'], boxscore['basicGameData']['hTeam']['triCode'])] %}
    <h4>{{ triCode }}</h4>
    <table class="table table-sm table-striped table-responsive">
        <tr>
            <th>PLAYER</th>
            <th>POS</th>
            <th>MIN</th>
            <th>FGM</th>
            <th>FGA</th>
            {% if layout == 'full' %}<th>FG%</th>{% endif %}
            {% if layout == 'full' %}<th>FTM</th>{% endif %}
            {% if layout == 'full' %}<th>FTA</th>{% endif %}
            {% if layout == 'full' %}<th>FT%</th>{% endif %}
            {% if layout == 'full' %}<th>3PM</th>{% endif %}
            {% if layout == 'full' %}<th>3PA</th>{% endif %}
            {% if layout == 'full' %}<th>3P%</th>{% endif %}
            {% if layout == 'full' %}<th>OREB</th>{% endif %}
            {% if layout == 'full' %}<th>DREB</th>{% endif %}
            <th>REB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            {% if layout == 'full' %}<th>TO</th>{% endif %}
            {% if layout == 'full' %}<th>PF</th>{% endif %}
            {% if layout == 'full' %}<th>+/-</th>{% endif %}
            <th>PTS</th>
        </tr>
        {% for player in boxscore['stats']['activePlayers'] if player['teamId'] == teamId %}
        <tr>
            <td>
                {{ player['playerName'] }}
            </td>
            <td>
                {{ player['pos'] }}
            </td>
            <td>
                {{ player['min'] }}
            </td>
            <td>
                {{ player['fgm'] }}
            </td>
            <td>
                {{ player['fga'] }}
            </td>
            {{ cell(player['fgp'], layout) }}
            {{ cell(player['ftm'], layout) }}
            {{ cell(player['fta'], layout) }}
            {{ cell(player['ftp'], layout) }}
            {{ cell(player['tpm'], layout) }}
            {{ cell(player['tpa'], layout) }}
            {{ cell(player['tpp'], layout) }}
            {{ cell(player['offReb'], layout) }}
            {{ cell(player['defReb'], layout) }}
            <td>
                {{ player['totReb']}}
            </td>
            <td>
                {{ player['assists'] }}
            </td>
            <td>
                {{ player['steals'] }}
            </td>
            <td>
                {{ player['blocks'] }}
            </td>
            {{ cell(player['turnovers'], layout) }}
            {{ cell(player['pFouls'], layout) }}
            {{ cell(player['plusMinus'], layout) }}
            <td>
                {{ player['points'] }}
            </td>
        </tr>
    {% endfor %}
        <tr style="font-weight: bold;">
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                {{ boxscore['stats'][teamType]['totals']['fgm'] }}
            </td>
            <td>
                {{ boxscore['stats'][teamType]['totals']['fga'] }}
            </td>
            {{ cell(boxscore['stats'][teamType]['totals']['fgp'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['ftm'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['fta'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['ftp'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['tpm'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['tpa'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['tpp'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['offReb'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['defReb'], layout) }}
            <td>
                {{ boxscore['stats'][teamType]['totals']['totReb'] }}
            </td>
            <td>
                {{ boxscore['stats'][teamType]['totals']['assists'] }}
            </td>
            <td>
                {{ boxscore['stats'][teamType]['totals']['steals'] }}
            </td>
            <td>
                {{ boxscore['stats'][teamType]['totals']['blocks'] }}
            </td>
            {{ cell(boxscore['stats'][teamType]['totals']['turnovers'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['pFouls'], layout) }}
            {{ cell(boxscore['stats'][teamType]['totals']['plusMinus'], layout) }}
            <td>
                {{ boxscore['stats'][teamType]['totals']['points'] }}
            </td>
        </tr>
    </table>
{% endfor %}
</div>
{% endblock %}
