<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                Scoreboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/standings">
                Standings
            </a>
        </li>
    </ul>
</div>
<div class="container">
{% for team in teams['league']['standard'] if team['teamId'] == teamid %}
    <h3>
        {{ team['fullName'] }}
    </h3>
{% endfor %}
    <table class="table table-sm table-responsive">
        <tr>
            <th>
                DATE
            </th>
            <th>
                OPP
            </th>
            <th>
                W/L
            </th>
            <th>
                SCORE
            </th>
        </tr>
        {% for game in schedule['league']['standard'] if game['seasonStageId']|int() > 1 %}
        <tr>
            <td>
                {{ game['startDateEastern'][4:6] }}/{{ game['startDateEastern'][6:] }}
            </td>
            <td>
        {% if game['isHomeTeam'] %}
            {% for team in teams['league']['standard'] if team['teamId'] == game['vTeam']['teamId'] %}
            {{ team['tricode'] }}
            {% endfor %}
        {% else %}
            {% for team in teams['league']['standard'] if team['teamId'] == game['hTeam']['teamId'] %}
            {{ team['tricode'] }}
            {% endfor %}
        {% endif %}
            </td>
            <td class="success">
        {% if game['statusNum'] == 3 %}
            {% if game['isHomeTeam'] and game['hTeam']['score']|int() > game['vTeam']['score']|int() %}
                W
            {% elif not game['isHomeTeam'] and game['vTeam']['score']|int() > game['hTeam']['score']|int() %}
                W
            {% else %}
                L
            {% endif %}
        {% endif %}
            </td>
            <td>
            {% if game['statusNum']|int() > 1 %}
                <a href="/boxscore/{{ game['startDateEastern'] }}/{{ game['gameId']}}">
                    {{ game['hTeam']['score'] }}-{{ game['vTeam']['score'] }}
                </a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
