{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
    <ul class="nav nav-fill">
    {% for date in dates %}
        <li class="nav-item">
            <a class="nav-link" {% if loop.index == 3 %} style="font-weight: bold;" {% endif %} href="/{{date}}">
                {{date[4:6]}}/{{date[6:8]}}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="container">
{% for game in games %}
    <div class="row">
        <div class="col">
            <a href=/boxscore/{{dates[2]}}/{{game['gameId']}}>
                {{game['vTeam']['triCode']}} ({{game['vTeam']['win']}}-{{game['vTeam']['loss']}}) @ {{game['hTeam']['triCode']}} ({{game['hTeam']['win']}}-{{game['hTeam']['loss']}})
            </a>
        </div>
        <div class="col text-right"> 
        {% if game['watch']['broadcast']['broadcasters']['national'] and game['statusNum'] < 3 %}
            <strong>{{game['watch']['broadcast']['broadcasters']['national'][0]['shortName']}}</strong>
        {% endif %}
        {% if game['statusNum'] == 1 %}
            {{game['startTimeEastern']}}
        {% endif %}
        </div>
    </div>
{% if game['isGameActivated'] %}
    <div class="row">
        <div class="col">
        {% if game['period']['isHalftime'] %}
            Halftime
        {% elif game['period']['isEndOfPeriod'] %}
            End of period {{game['period']['current']}}
        {% else %}
            {{game['clock']}} in period {{game['period']['current']}}
        {% endif %}
        </div>
    </div>
{% endif %}
    <table class="table table-sm">
        <tr>
            <th>TEAM</th>
        {% for q in game['vTeam']['linescore'] %}
            <th>
        {% if loop.index <= 4 %}
           Q{{loop.index}}
        {% else %}
           OT{{loop.index - 4}}
        {% endif %}
            </th>
        {% endfor %}
            <th>SCORE</th>
        </tr>
        <tr {% if game['vTeam']['score']|int() > game['hTeam']['score']|int() and game['statusNum'] == 3 %} style="font-weight: bold;"{% endif %}>
            <td>
                <a href=/schedule/{{ game['seasonYear'] }}/{{ game['vTeam']['teamId'] }}>
                    {{ game['vTeam']['triCode'] }}
                </a>
            </td>
        {% for q in game['vTeam']['linescore'] %}
        <td>{{q['score']}}</td>
        {% endfor %}
            <td>{{game['vTeam']['score']}}</td>
        </tr>
        <tr {% if game['hTeam']['score']|int() > game['vTeam']['score']|int() and game['statusNum'] == 3 %} style="font-weight: bold;"{% endif %}>
            <td>
                <a href=/schedule/{{ game['seasonYear'] }}/{{ game['hTeam']['teamId'] }}>
                    {{ game['hTeam']['triCode'] }} 
                </a>
            </td>
        {% for q in game['hTeam']['linescore'] %}
            <td>{{q['score']}}</td>
        {% endfor %}
            <td>{{game['hTeam']['score']}}</td>
        </tr>
    </table>
{% endfor %}
{% endblock %}
