<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                Scoreboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/standings">
                Standings
            </a>
        </li>
    </ul>
</div>
{% for conf in ['east', 'west'] %}
<div class="container">
    <h4>{% if conf == 'east' %}EAST{% else %}WEST{% endif %}</h4>
    <table class="table table-responsive">
        <tr>
            <th>
                #
            </th>
            <th>
                TEAM
            </th>
            <th>
                WIN
            </th>
            <th>
                LOSS
            </th>
            <th>
                WIN%
            </th>
            <th>
                GB
            </th>
            <th>
                CONF
            </th>
            <th>
                DIV
            </th>
            <th>
                HOME
            </th>
            <th>
                AWAY
            </th>
            <th>
                L10
            </th>
            <th>
                STREAK
            </th>
        </tr>
    {% for team in standings['league']['standard']['conference'][conf] %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td>
                <a href="/schedule/{{ standings['league']['standard']['seasonYear'] }}/{{ team['teamId'] }}">
                    {{ teams[team['teamId']] }}
                </a>
            </td>
            <td>
                {{ team['win'] }}
            </td>
            <td>
                {{ team['loss'] }}
            </td>
            <td>
                {{ team['winPct'] }}
            </td>
            <td>
                {{ team['gamesBehind'] }}
            </td>
            <td>
                {{ team['confWin'] }}-{{ team['confLoss'] }}
            </td>
            <td>
                {{ team['divWin'] }}-{{ team['divLoss'] }}
            </td>
            <td>
                {{ team['homeWin'] }}-{{ team['homeLoss'] }}
            </td>
            <td>
                {{ team['awayWin'] }}-{{ team['awayLoss'] }}
            </td>
            <td>
                {{ team['lastTenWin'] }}-{{ team['lastTenLoss'] }}
            </td>
            <td>
                {% if team['isWinStreak'] %}W{% else %}L{% endif %}{{ team['streak'] }}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
