<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                Scoreboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/standings">
                Standings
            </a>
        </li>
    </ul>
</div>
{% for conf in ['east', 'west'] %}
<div class="container">
    <table class="table table-responsive">
        <tr>
            <th>
                TEAM
            </th>
            <th>
                WIN
            </th>
            <th>
                LOSS
            </th>
        </tr>
    {% for team in standings['league']['standard']['conference'][conf] %}
        <tr>
            <td>
                {{team['teamId']}}
            </td>
            <td>
                {{team['win']}}
            </td>
            <td>
                {{team['loss']}}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
